@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView>
    <Authorized>
        <a href="javascript:void(0)" class="nav-link">Hallo, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="Logout">Uitloggen</button>
    </Authorized>
    
    <NotAuthorized>
        <a href="login" class="nav-link">Inloggen</a>
    </NotAuthorized>
</AuthorizeView>