@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <a href="javascript:void(0)" class="nav-link"><strong>@context.User.Identity?.Name</strong></a>
        
        <button class="nav-link btn btn-link" @onclick="Logout">Uitloggen</button>
    </Authorized>
    
    <NotAuthorized>
        <a href="login" class="nav-link">Inloggen</a>
    </NotAuthorized>
</AuthorizeView>